@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "application/prescriptions.less";

table.table.vertical-middle tbody tr td{
  vertical-align: middle;
}
table tbody td.table-cell-actions{
  text-align: right;
  .btn{
    margin-left: 6px;
    vertical-align: middle;
  }
  form{
    display: inline-block;
    margin: 0;
  }
}