@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import 'base';

table{
  tbody tr td{
    vertical-align: middle;
  }
}
.table-cell-actions{
  .btn{
    margin-left: 7px;
  }
  form{
    display: inline-block;
    margin-bottom: 0;
  }
}